.conda/
EdicionImagenesV1/build/
EdicionImagenesV1/dist/
EdicionImagenesV1/__pycache__/
EdicionImagenesV1/test_imgs/
.DS_Store
.idea


# Virtual Environment
.venv

# Cache
*__pycache__

# .zip con las imágenes de prueba
*.zip